[build-system]
requires = ["setuptools", "cython"]
build-backend = "setuptools.build_meta"


[project]
name = "mintalib"
version = "0.0.7"
readme = "README.md"
requires-python = ">=3.9"
license = { text = "MIT" }
description = "Minimal Technical Analysis Library for Python"
urls = { homepage = "https://github.com/furechan/mintalib" }
authors = [{ name = "Furechan", email = "furechan@xsmail.com" }]
dependencies = ["numpy", "pandas"]
keywords = ["python", "cython", "finance", "technical-analysis"]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent"
]

[project.optional-dependencies]
extras = ["ipykernel", "polars", "yfinance", "mplfinance"]

[tool.pydev]
allow-publish = true

[tool.pytest.ini_options]
addopts = ["-p no:cacheprovider"]
testpaths = ["tests"]
